.consultant-list {
    margin: 20px;
  }
  
  .consultant-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust to space out evenly */
  }
  
  .show-more-btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  
  .show-more-btn:hover {
    background-color: #0056b3;
  }
  