
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 20px;
}

.login-form input {
    width: calc(100% );
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login_button{
    width: 100%;
    height:40px;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form p {
    margin-top: 10px;
}

.login-form p a {
    color: #007bff;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}